
body {
	margin: 0px;
	color: #000;
	background: #fff;
	font-family: "DBHelvetORI";
}

img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.caption a {
	color: #000;
}

textarea {
	resize:none;
}

#wrapper {
	width: 1050px;
	margin: 0px auto;
	padding: 0px;
	float: none;
}

#header {
	padding: 0px;
	float: left;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 60px;
}

.qtrans_flag_en {
    background: url(/img/en.png) no-repeat;
}

.qtrans_flag_th {
    background: url(/img/th.png) no-repeat;
}

.hright {
	margin: 0px;
	padding: 0px;
	float: left;
}

.hoption {
	margin: 0px;
    padding: 0px;
    float: right;
    height: 18px;
	position: relative;
    margin: 15px;
    list-style-type: none;
}

.hoption li {
	font-size: 16px;
	line-height: 11px;
	text-transform: uppercase;
	padding: 0px;
	float: left;
	height: 11px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 25px;
}

ul.hoption li a:not(:last-child){
	margin-right: 14px;
}

ul.hoption li a{
	color:#fff;
	float: left;
}

ul.hoption li a.hth {
/*	margin-right: 10px;*/
}

ul.hoption li a.hsc {
/*	margin-right: 25px;*/
}

.hnavi {
	padding: 0px;
	float: left;
	width: 100%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	font-family: "DBHelvet-Li", "DBHelvetORITH-Li";
	font-size:23px;
}

.menu {
	font-size: 26px;
	line-height: 19px;
	float: none;
    display: inline-block;
	text-transform: uppercase;
	margin: 0px;
	padding-left: 55px;
	height: 19px;
	list-style-type: none;
}

@media (min-width: 992px) {

	.menu>li {
		padding: 0px;
		float: left;
		height: 19px;
		margin: 5px 50px 5px 0px;
		position: relative;
	}

	.res-logo, .res-basket {
		display:none;
	}

	.logo {
		padding: 0px;
		margin-bottom: 0px;
	}

	#Layer_1 {
		width: 18px;
		margin-top: 2px;
	}
}

@media (max-width: 991px) {

	.menu {
		padding: 0px;
	}

 	.menu>li {
		padding: 0px;
		display: block;
		position: relative;
		margin: 30px 0px;
		font-family: "DBHelvetORI-Li";
		text-align: left;
	}



	ul.hoption li a{
		color:#000;
		font-size: 20px;
	}

	.res-logo {
		padding: 0 15px;
	}
	
	.res-basket {
		margin-right: 15px;
	}

	.small-bx {
		margin: 10px 0;
	}

	#Layer_1 {
		width: 18px; 
		margin-top: 2px;
	}
}

.cap-prod {
	font-size: 20px;
	font-family: "DBHelvetORI";
}

.cap-prod a {
	font-size: 25px;
    font-family: "DBHelvetORI-Li";
}

.btn {
	text-transform:uppercase;
	font-size: 20px;
    font-family: "DBHelvetORI";
	padding: 0px 10px;
	border-radius: 0px;
}

.big-btn {
	font-size: 21px;
	padding: 4px 35px;
}

.d-read-more {
	padding-top: 25px;
}

.btn:hover, .btn:focus, .btn.focus, a:hover {
    color: #ec4a2c;
}

.menu>li a{
	color: #535353;
}
.menu>li.cat-item a{
	color: #000;
}
.menu li.cat-item a:hover,
.menu a:hover {
	color: #ff5ca1;
}
.menu>li>ul{
	position: absolute;
	padding: 15px 0 4px;
	display: none;
	z-index: 500;
	background-color: #ffffff;
	margin-left: -10px;
}
.menu>li>ul>li{
	display: block;
	white-space: nowrap;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}


.hsearch {
	margin: 0px;
	float: left;
	height: 18px;
	width: 135px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #434343;
	line-height: 18px;
	padding: 0;
}

#qtranslate-chooser,
#qtranslate-chooser li {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

#qtranslate-chooser li a{
	background-size: 14px auto;
	background-position: 0 2px;
}

#qtranslate-chooser li span{
	margin: 20px;
}

.qtrans_social_chooser {
	margin-top: 5px;
}

.qtrans_widget_end{
	display: none !;
}

.sep-line{
	border-bottom: 1px solid;
}

.hd-row {
	margin-bottom: 10px;
}

.slide-row {
	margin-top: 10px;
}

.product-image {
	border: #ececec 1px solid;
	position: relative;
    display: block;
    overflow: hidden;
}

.product-tag {
	padding: 10px 0px;
    margin-top: 10px;
    font-size: 1.4em;
    font-family: "DBHelvetORI-Md";
}

.amount {
	margin-bottom: 20px;
}

#thumbcarousel .thumb img {
	width: 73%;
    margin: auto;
}

#color_code {
	font-size: 20px;
}

.product-detail-box {
	font-family: "DBHelvetORI-Li";
}

.product-detail-box .p-bb {
	font-family: "DBHelvetORI-Md";
	font-size: 1.5em;
	margin-bottom: 15px;
}

.product-detail-box .p-bb-s {
	font-size: 1.5em;
}

.product-detail-box .p-detail {
	font-size: 1.5em;
}

.product-image .item img {
	height: 550px;
}

.top-nav-slider {
	position: absolute;
	z-index: 1;
	right: 0px;
	padding: 10px;
}

.product-tabs {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 1.5em;
	font-family: "DBHelvetORI-Li";
}

.nav-tabs {
    border-bottom: 1px solid #000;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {

    border: 1px solid #000;
}

.tab-pane .row {
	padding: 0 20px;
}

.tab-content {
	padding-top: 20px;
}

.product-tabs .nav-tabs {
	font-family: "DBHelvetORI";
}

.top-nav-slider a:hover {
	color:#333;
	text-decoration: none;
}

.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: #09c;
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}

.black-row {
	background: #000;
	margin: 50px 0px;
}

.panal-box {
	margin-top: 70px;
    margin-left: 50px;
}
.panal-box2 {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 50px;
}

.carousel.slide {
	margin-bottom: 5px;
}

.img-slide-res {
	max-height : 433px;
}


.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
	border: none;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoInstragram:hover {
	background-color:#964B00;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoLine:hover {
	background-color:#00C300;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background:#fff;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #000;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.social-circle li a:hover svg, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle svg {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}



i.line-w {
    background: url(/img/line-messenger.png) no-repeat;
}

.footer-basic-centered a {
	background-color: #000;   
}

.footer-basic-centered {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: DBHelvet;
    margin-top: 10px;
}

.footer-basic-centered .footer-company-motto {
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-company-name {
    padding-bottom: 15px;
	font: normal 1.3em DBHelvet;
    margin: 0;
}

.btn-social-icon {
	margin-top: -13px;
}

.btn-black {
	background: #000;
	color:#fff;
}
.btn-black:hover {
	color:#fff;
}

.btn-white  {
	color:#000000;	 
	background-color: #FFFFFF;	
	border :1px solid #000;
}
 
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
	color:#FFFFFF;	 
	background-color: #000000;	
	 
}

.sform {
	font-size: 20px;
}

.sform .hd {
	font-family: "DBHelvet";
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0px;
    font-size: 1.1em;
    font-family: "DBHelvetORI-Li";
    line-height: 1.42857;
    color: #000;
    background-color: #FFF;
    background-image: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

	outline: none;
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;

}

.form-group {
    border-bottom: 1px solid #000;
    padding: 0.8em 0 0 0;
}

.form-control:focus {
    border-color: #CCC;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 102, 102, 0.2);
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #000;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;
	/*1px solid #E2E2E2*/
    border-radius: 0px;
}  
  
/*Breadcrumbs v3
------------------------------------*/
.breadcrumbs-v3 {
  z-index: 1;
  padding: 100px 0;
  position: relative;
}

.breadcrumbs-v3.breadcrumbs-lg {
  padding: 200px 0;
}

.breadcrumbs-v3.img-v1 {
  background: url(/img/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center right;
}

.breadcrumbs-v3.img-v2 {
  background: url(../img/breadcrumbs/img2.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3.img-v3 {
  background: url(../img/breadcrumbs/img3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.breadcrumbs-v3:after {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: rgba(0,0,0,0.2);
}

.breadcrumbs-v3 h1 {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.breadcrumbs-v3 p {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .breadcrumbs-v3.breadcrumbs-lg {
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  .breadcrumbs-v3,
  .breadcrumbs-v3.breadcrumbs-lg {
    padding: 50px 0;
  }

  .breadcrumbs-v3 h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .breadcrumbs-v3 p {
    font-size: 18px;
  }

	.contact .hd {
		text-align: center;	
	}

	.subm-button-group {
		text-align: center;	
	}

	.product-detail-box {

		margin-top:25px;
	}

	.footer-basic-centered .footer-company-name {
		font: normal 1.0em DBHelvet;
	}

}


.nopadd {
	padding: 0px;
}

.padd5 {
	padding: 5px;
}

.img-list {
	width: 100%;
}

.aboutus-box {
	width: 50%;
	margin-left: 50px;
	margin-top: -80px;
	color: #333;
}


.product-thumb-image{ padding: 2px }
.product-main-image, .product-thumb-image .thumbnail{ margin-bottom: 0 }
.product-main-image{ cursor: zoom-in; cursor: -webkit-zoom-in; cursor: -moz-zoom-in }
.product-main-image-container{ position: relative }
.product-loader{
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 1;
	width: 60px;
	height: 9px
}
.product-short-detail label{ font-weight: normal }
.product-short-detail .col-xs-8:before{
	margin-right: 3px;
	content: ':'
}
.tbl-cart thead{
	background: #f8f8f8
}
.tbl-cart .td-qty{
	white-space: normal !important;
	width: 130px;
}
.btns-cart .btn{
	margin-right: 3px;
	margin-bottom: 1px;
}
.tbl-checkout tbody tr td:nth-child(odd){
	background: #f8f8f8;
}
.input-qty-detail .bootstrap-touchspin{
	float: left;
	margin-right: 5px;
	width: 130px;
}

.product-thumb-image{ padding: 2px }
.product-main-image, .product-thumb-image .thumbnail{ margin-bottom: 0 }
.product-main-image{ cursor: zoom-in; cursor: -webkit-zoom-in; cursor: -moz-zoom-in }
.product-main-image-container{ position: relative }
.product-loader{
	position: absolute;
	top: 4px;
	right: 4px;
	z-index: 1;
	width: 60px;
	height: 9px
}
.product-short-detail label{ font-weight: normal }
.product-short-detail .col-xs-8:before{
	margin-right: 3px;
	content: ':'
}
.the-list{
	float: left;
	margin: 10px 0;
	width: 100%
}
.the-list h3{ margin: 0 }
.the-list select{
	display: inline;
	width: auto
}
.input-qty-detail .bootstrap-touchspin{
	float: left;
	margin-right: 5px;
	margin-bottom: 1px;
	width: 130px
}
.add-to-detail a{
	color: #333;
	font-size: 12px
}
.product-detail-tab .nav-tabs a:focus, .product-detail-tab .nav-tabs a:active{ outline: 0 }
.product-detail-tab .well{
	border-top: 0;
	background: #fff
}
#detail table tr td:first-child, .comparison tbody tr td:first-child, .compare-product{ background: #f8f8f8 }
.comparison{ text-align: center }
.comparison tbody tr td:first-child{ text-align: left }
.product-rating {
    margin-top: 5px;
    color: #FFCC00;
    font-size: 12px
}
.media a.pull-left:hover{ text-decoration: none }
#review .media{ padding-bottom: 10px }
.tbl-cart .td-qty{ width: 130px }
.tbl-cart label{ font-weight: inherit }
.tbl-cart thead{ background: #f8f8f8 }
.login-form { max-width: 380px; margin-top: 10px }
.login-form .panel{
	border: 1px solid #ddd;
    background-color: #fff;
}
.btn-login-social{ width: 30px }
@media (min-width: 992px) {
	.product-detail{ float: right }
}
.white-container {
	position: relative;
	padding: 15px;
	background-color: #fff;
}
.list-group-submenu {
	margin-left:20px;
}

.well {
	border: 1px solid #000;
}

.carousel {
    height: 50%;
}

.carousel .item,
.carousel .item.active,
.carousel .carousel-inner {
    height: 100%;
}

.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

hr {
	border:1px solid #948a8a;
}

.table {
	font-size: 20px;
}

.totalAmountArea {
	font-size: 20px;
}

.prod_name {
	font-family: "DBHelvet-Md";
	font-size: 25px;
}

.spinner input {
	height: 30px;
}

.input-qty-detail input {
	height: 30px;
}

.cartListInner .updateArea .input-group .form-control,.cartListInner .updateArea .input-group .input-group-addon,.cartListInner .updateArea .btn {
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #000;
}

.cartListInner .updateArea .input-group .input-group-addon,.cartListInner .updateArea .btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.cartListInner .updateArea,.cartListInner .totalAmountArea,.cartListInner .checkBtnArea {
    display: block;
    float: left;
    padding: 20px 30px;
    width: 100%;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.cartListInner .table-responsive .table thead tr th,.orderBox .table-responsive .table thead tr th {
    background-color: #000;
    padding: 0;
    height: 40px;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    padding-left: 20px;
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: none;
}

.cartListInner .table-responsive .table tbody tr td,.orderBox .table-responsive .table tbody tr td {
    vertical-align: middle;
    text-transform: uppercase;
}

.cartListInner .table-responsive .table tbody tr td .close,.orderBox.myAddress .table-responsive .table tbody tr td .close {
    display: inline-block;
    float: left;
    font-size: 35px;
    margin-right: 30px;
    color: #000;
    opacity: 1;
    line-height: 74px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cartListInner .table-responsive .table tbody tr td .close:hover,.orderBox.myAddress .table-responsive .table tbody tr td .close:hover {
    opacity: .8;
}

@media (min-width: 768px) {
    .cartListInner .table-responsive .table tbody tr td .close,.orderBox.myAddress .table-responsive .table tbody tr td .close {
        margin-right:5px;
    }

    .cartListInner .table-responsive {
        overflow-x:visible;
    }
}

@media (min-width: 992px) {
    .cartListInner .table-responsive .table tbody tr td .close,.orderBox.myAddress .table-responsive .table tbody tr td .close {
        margin-right:30px;
    }
}

.cartListInner .table-responsive {
    margin-bottom: 0;
}

@media (min-width: 480px) {
    .cartListInner .table-responsive {
        overflow-x:auto;
    }
}

.cartListInner .table-responsive .table {
    margin-bottom: 0;
}

.cartListInner .table-responsive .table thead tr {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.cartListInner .table-responsive .table thead tr th:last-child {
    border-right: none;
}

@media (max-width: 479px) {
    .cartListInner .table-responsive .table thead tr th:first-child {
        display:none;
    }
}

@media (min-width: 480px) {
    .cartListInner .table-responsive .table thead tr th:first-child {
        display:none;
    }
}

@media (min-width: 768px) {
    .cartListInner .table-responsive .table thead tr th:first-child {
        display:table-cell;
    }
}

.cartListInner .table-responsive .table tbody tr {
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

@media (min-width: 480px) {
    .cartListInner .table-responsive .table tbody tr td {
        padding:10px;
    }
}

@media (min-width: 768px) {
    .cartListInner .table-responsive .table tbody tr td {
        padding:10px;
    }
}

@media (min-width: 768px) {
    .cartListInner .table-responsive .table tbody tr td {
        padding-left:20px;
    }
}

.cartListInner .table-responsive .table tbody tr td .cartImage {
    display: inline-block;
    float: left;
}

.cartListInner .table-responsive .table tbody tr td:nth-child(3) {
    color: #888888;
}

.cartListInner .table-responsive .table tbody tr td input {
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #333333;
    font-weight: 700;
    border: 1px solid #e4e4e4;
}

@media (max-width: 479px) {
    .cartListInner .table-responsive .table tbody tr td:first-child {
        display:none;
    }
}

@media (min-width: 480px) {
    .cartListInner .table-responsive .table tbody tr td:first-child {
        display:none;
    }
}

@media (min-width: 768px) {
    .cartListInner .table-responsive .table tbody tr td:first-child {
        display:table-cell;
    }
}

.cartListInner .updateArea .input-group {
    float: left;
}

@media (max-width: 479px) {
    .cartListInner .updateArea .input-group {
        width:100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 480px) {
    .cartListInner .updateArea .input-group {
        width:100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .cartListInner .updateArea .input-group {
        width:435px;
        margin-bottom: 0;
    }
}

.cartListInner .updateArea .input-group .form-control {
    margin-right: 10px;
    margin-right: 10px;
    border-color: #e4e4e4;
}

@media (max-width: 479px) {
    .cartListInner .updateArea .input-group .form-control {
        width:50%;
    }
}

@media (min-width: 480px) {
    .cartListInner .updateArea .input-group .form-control {
        width:60%;
    }
}

@media (min-width: 768px) {
    .cartListInner .updateArea .input-group .form-control {
        width:285px;
    }
}

.cartListInner .updateArea .input-group .input-group-addon {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cartListInner .updateArea .input-group .input-group-addon:hover {
    opacity: .8;
}

@media (max-width: 479px) {
    .cartListInner .updateArea .input-group .input-group-addon {
        width:45%;
        font-size: 10px;
    }
}

@media (min-width: 480px) {
    .cartListInner .updateArea .input-group .input-group-addon {
        width:35%;
    }
}

@media (min-width: 768px) {
    .cartListInner .updateArea .input-group .input-group-addon {
        width:140px;
    }
}

.cartListInner .updateArea .btn {
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 0;
    line-height: 36px;
    color: #252525;
}

.cartListInner .updateArea .btn:hover {
    background-color: #FF4526;
    border-color: #FF4526;
    color: #ffffff;
}

@media (max-width: 479px) {
    .cartListInner .updateArea .btn {
        width:100%;
        float: left;
    }
}

@media (min-width: 480px) {
    .cartListInner .updateArea .btn {
        width:100%;
        float: left;
    }
}

@media (min-width: 768px) {
    .cartListInner .updateArea .btn {
        width:127px;
        float: right;
    }
}

.cartListInner .totalAmountArea .list-unstyled li {
    font-weight: 700;
    text-align: right;
    margin: 10px 0;
}

.cartListInner .totalAmountArea .list-unstyled li span {
    width: 108px;
    display: inline-block;
    color: #888888;
}

.cartListInner .totalAmountArea .list-unstyled li .grandTotal {
    color: #252525;
}

.cartListInner .checkBtnArea {
    border-bottom-width: 5px;
}

.cartListInner .checkBtnArea .btn-primary {
    width: 196px;
    height: 55px;
    border-radius: 0;
    border: none;
    background-color: #FF4526;
    padding: 0 20px;
    line-height: 55px;
    position: relative;
    text-align: center;
    font-weight: 700;
    float: right;
    font-size: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cartListInner .checkBtnArea .btn-primary i {
    margin-left: 10px;
}

.cartListInner .checkBtnArea .btn-primary:hover {
    opacity: .8;
}




.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("/img/banner.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .table {
    padding: 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-view-p {
	cursor:pointer;
}

.text-elip {
	overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.fix-top-hd {
	background: #000;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0px;
	top: 0px;
    left: 0px;
    right: 0px;
    z-index: 40;
    height: 40px;
    font-size: 17px;
    font-family: "DBHelvetORI-Md";
}

.contact-info {
	padding-top: 18px;
	font-size: 1.1em;
	font-family: "DBHelvetORI-Li";
}

.r-line {
	font-family: "DBHelvet-Li";
	line-height: 24px;
}

.r-title span {
	font-family: "DBHelvetORI";
}

.r-line span {
	font-family: "DBHelvet-Md";
}

.clear {
	clear : both;
}

.r-title {
	line-height: 24px;
	float:left;
}

.r-line b {

}

.line_qr_code {
    max-width: 200px;
}

.contact-icon {
    color: #818285;
    font-size: 35px;
    position: absolute;
}

.contact-r-detail {
	float:left;
	margin-left: 55px;
}

.txt-about {
	font-size: 1.5em;
    font-family: "DBHelvetORI-Li";
}

.contact {
	font-family: "DBHelvet";
	font-size: 20px;
}

.contact h2 {
	font-family: "DBHelvetORI-Li";
	font-size: 1.1em;
}

.contact .hd {
	font-family: "DBHelvetORI";
	font-size: 40px;
}

.contact-form {
	font-family: "DBHelvetEXT-Li";
	font-size: 20px;
	margin-top: 20px;
}

.securitycode {
    background: #000;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
    padding: 7px 20px;
    margin-top: -8px;
}

.sec-a {

	color:#fff !important;
}

.padd8 {
    padding: 0px 8px;
}

.padd16 {
    padding: 0px 16px;
}

.prod-price {
	margin-top: 10px;
}

.mocking {
	background: #73CCBA;
	height: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.res-language a {
	height: 12px;
	width: 18px;
	display: block;
}

/* CSS used here will be applied after bootstrap.css */

.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img, .item img {
	width: 100%;	
}

.chkp {
	font-size: 27px;
    font-family: "DBHelvetORI-Md";
}

.chkp-sub {
	font-size: 18px;
    font-family: "DBHelvetORI";
}

.chkp-foot {
	font-size: 22px;
    font-family: "DBHelvetORI";
}

@font-face {
    font-family: DBHelvet-Blk;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Condensed/DB_Heavent_Blk_Cond_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvet-Bd;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Condensed/DB_Heavent_Bd_Cond_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvet-Md;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Condensed/DB_Heavent_Med_Cond_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvet;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Condensed/DB_Heavent_Cond_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvet-Li;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Condensed/DB_Heavent_Li_Cond_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvet-Th;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Condensed/DB_Heavent_Thin_Cond_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvet-UlLi;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Condensed/DB_Heavent_UlLi_Cond_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetORI-Li;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Original/DB_Heavent_Li_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetORI;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Original/DB_Heavent_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetORITH-Li;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Original/DB_Heavent_Li_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0E00–U+0E7F;
}

@font-face {
    font-family: DBHelvetORI-Md;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Original/DB_Heavent_Med_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetEXT-Blk;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Extended/DB_Heavent_Blk_Ext_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetEXT-Bd;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Extended/DB_Heavent_Bd_Ext_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetEXT-Md;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Extended/DB_Heavent_Med_Ext_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetEXT;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Extended/DB_Heavent_Ext_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetEXT-Li;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Extended/DB_Heavent_Li_Ext_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetEXT-Th;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Extended/DB_Heavent_Thin_Ext_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetEXT-UlLi;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Extended/DB_Heavent_UlLi_Ext_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DBHelvetROU-Md;
    src: url(/fonts/DBHeaventv3.201/DB_Heavent_Extended/DB_HeaventRounded_Med_v3.2.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}



