
@import url(https://fonts.googleapis.com/css?family=Anton);

body {
	margin: 0px;
	color: #272727;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a {
	text-decoration: none;
	color: #272727;
}
textarea {
	resize:none;
}
#wrapper {
	width: 1050px;
	margin: 0px auto;
	padding: 0px;
	float: none;
}
#header {
	padding: 0px;
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.qtrans_flag_en {
    background: url(/img/en.png) no-repeat;
}

.qtrans_flag_th {
    background: url(/img/th.png) no-repeat;
}


.logo {
	padding: 0px;
	float: left;
	height: 105px;
	margin-top: 10px;
	margin-right: 16px;
	margin-bottom: 0px;
	margin-left: 2px;
}
.hright {
	margin: 0px;
	padding: 0px;
	float: left;
}
.hoption {
	margin: 0px;
	padding: 0px;
	float: right;
	height: 13px;
	list-style-type: none;
}
.hoption li {
	font-size: 10px;
	line-height: 11px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px;
	float: left;
	height: 11px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 25px;
}



ul.hoption li a:not(:last-child){
	margin-right: 14px;
}
ul.hoption li a{
	float: left;
}
ul.hoption li a.hth {
/*	margin-right: 10px;*/
}
ul.hoption li a.hsc {
/*	margin-right: 25px;*/
}
.hnavi {
	padding: 0px;
	float: left;
	width: 100%;
	margin-top: 73px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 19px;
	font-family: 'Anton', sans-serif;
}
.menu {
	font-size: 22px;
	line-height: 19px;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 19px;
	list-style-type: none;
}
.menu>li {
	padding: 0px;
	float: left;
	height: 19px;
	margin: 0px 18px 0px 0px;
	position: relative;
}
.menu>li a{
	color: #535353;
}
.menu>li.cat-item a{
	color: #000000;
}
.menu li.cat-item a:hover,
.menu a:hover {
	color: #ff5ca1;
}
.menu>li>ul{
	position: absolute;
	padding: 15px 0 4px;
	display: none;
	z-index: 500;
	background-color: #ffffff;
	margin-left: -10px;
}
.menu>li>ul>li{
	display: block;
	white-space: nowrap;
	margin-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
}


.hsearch {
	margin: 0px;
	float: left;
	height: 18px;
	width: 135px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #434343;
	line-height: 18px;
	padding: 0;
}

#qtranslate-chooser,
#qtranslate-chooser li {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

#qtranslate-chooser li a{
	background-size: 14px auto;
	background-position: 0 2px;
}

#qtranslate-chooser li span{
	margin: 20px;
}

.qtrans_widget_end{
	display: none !;
}

.sep-line{
	border-bottom: 1px solid;
}

.hd-row {
	margin-bottom: 10px;
}

.slide-row {
	margin-top: 10px;
}

.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel .item {
	min-height: 350px; 
	height: 100%;
	width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
	background-color: #09c;
}
.carousel-caption h3 {
	padding: .5em;
}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: #00bfff;
	margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
	animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
	animation-delay: 2s;
}
.carousel-caption button {
	animation-delay: 3s;
}

.black-row {
	background: #000;
	margin: 50px 0px;
}

.panal-box {
	margin-top: 70px;
    margin-left: 50px;
}
.panal-box2 {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 50px;
}

.carousel.slide {
	margin-bottom: 5px;
}

.img-slide-res {
	max-height : 433px;
}


.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
	border: none;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.footer-basic-centered a {
	background-color: #000;   
}

.footer-basic-centered {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    margin-top: 10px;
}

.footer-basic-centered .footer-company-motto {
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-company-name {
    font-size: 14px;
    margin: 0;
}

.btn-social-icon {
	margin-top: -13px;
}