@charset "utf-8";
/* CSS Document */

@font-face {
 font-family: 'PSLxChalindaCon_Bold';
 src: url("PSLxChalindaCon_Bold_0.eot");
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'PSLxChalindaCon_Bold';
 src: url("PSLxChalindaCon_Bold_0.ttf");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'PSLxChalindaCon';
 src: url("PSLxChalindaCon_0.eot");
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'PSLxChalindaCon';
 src: url("PSLxChalindaCon_0.ttf");
 font-weight: normal;
 font-style: normal;
}

